@using OzApp.Areas.Admin.Models;
@model TeacherIndexVm ;
@{ Model.Entities.StudentAffair loggedInAdmin = ViewBag.LoggedStudentAffair as Model.Entities.StudentAffair; }

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




@section customStyle{

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/AdminAssest/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssest/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminAssest/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminAssest/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<div class="row">

    <div class="col-12">
        <a href="/Admin/TeacherList/Add" data-toggle="modal" data-target="#addTeacher" class="btn btn-danger"> Yeni Öğretmen Kaydı</a>

    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblAdministrator" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ünvan</th>
                                    <th>Ad Soyad</th>
                                    <th>Ders Adı</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>IsActive</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TeacherList)
                                {


                                    <tr>
                                        <td>
                                        @foreach (var rol in item.TeacherRoles)
                                        {
                                            <span>@rol.Role.RoleName</span> <br />
                                        }
                                        </td>
                                        <td>@item.TeacherName</td>
                                        <td>
                                            @foreach (var lesson in item.TeacherLessons)
                                            {
                                                <span>@lesson.Lesson.LessonName</span> <br />
                                            }
                                        </td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Email</td>
                                        <td>@(item.IsActive? "Aktif":"Pasif")</td>
                                        <td>
                                            <input type="button" teacherId="@item.Id" data-toggle="modal" data-target="#updateTeacher" class="btn btn-warning btnUpdate" value="Güncelle" />
                                        </td>
                                        <td>
                                            <input type="button" teacherId="@item.Id" class="btn btn-danger btnDelete" value="SİL" />
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<div class="modal" id="addTeacher" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Öğretmen Kaydı (Modal)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Ad Soyad</label>
                            <input type="text" class="form-control" id="txtFullName" placeholder="Ad Soyad:">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email:">
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Şifre:">
                        </div>

                        <div class="form-group">
                            <label>Bölümü</label>

                            <select id="txtDepartment" class="form-control">



                                <option value="@loggedInAdmin.DepartmentId" />
                                @loggedInAdmin.Department.DepartmentName

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Şehir</label>
                            <input text="text" class="form-control" id="txtCity" placeholder="Şehir:">
                        </div>
                        <div class="form-group">
                            <label>Adres</label>
                            <input text="text" class="form-control" id="txtAdress" placeholder="Adres:">
                        </div>
                        <div class="form-group">
                            <label>Doğum Tarihi</label>
                            <input type="datetime-local" class="form-control" id="txtBirthDate" placeholder="Doğum Tarihi:">
                        </div>
                        <div class="form-group">
                            <label>Kimlik No</label>
                            <input text="text" class="form-control" id="txtIdNumber" placeholder="Kimlik No:">
                        </div>
                        <div class="form-group">
                            <label>Telefon</label>
                            <input text="text" class="form-control" id="txtPhone" placeholder="Telefon No:">
                        </div>
                        <div class="form-group">
                            <label>Kayıt Tarihi</label>
                            <input type="datetime-local" class="form-control" id="txtDateRegistiration" placeholder="Kayıt Tarihi:">
                        </div>
                        <div class="form-group">
                            <label>Dersi</label>


                            <select multiple id="slcLesson" class="form-control">
                                @foreach (var item in Model.LessonList)
                                {
                                    <option value="@item.Id" />
                                    @item.LessonName
                                }

                            </select>
                            <div class="form-group">
                                <label>Unvanı</label>


                                <select id="txtRole" class="form-control">
                                    @foreach (var item in Model.TeacherRoleList.GroupBy(x => x.Role))
                                    {





                                        <option value="@item.Key.Id" />
                                        @item.Key.RoleName}

                                </select>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIsActive">
                                <label class="form-check-label">Aktif</label>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnKaydet" class="btn btn-primary">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="updateTeacher" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Öğrenci Kaydı (Modal)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Ad Soyad</label>
                            <input type="text" class="form-control" id="txtAdSoyad" placeholder="Ad Soyad:">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="txtEposta" placeholder="Email:">
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" id="txtSifre" placeholder="Şifre:">
                        </div>

                        <div class="form-group">
                            <label>Bölümü</label>

                            <select id="txtBolum" class="form-control">



                                <option value="@loggedInAdmin.DepartmentId" />
                                @loggedInAdmin.Department.DepartmentName

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Şehir</label>
                            <input text="text" class="form-control" id="txtSehir" placeholder="Şehir:">
                        </div>
                        <div class="form-group">
                            <label>Adres</label>
                            <input text="text" class="form-control" id="txtAdres" placeholder="Adres:">
                        </div>
                        <div class="form-group">
                            <label>Doğum Tarihi</label>
                            <input type="datetime-local" class="form-control" id="txtDogumTarihi" placeholder="Doğum Tarihi:">
                        </div>
                        <div class="form-group">
                            <label>Kimlik No</label>
                            <input text="text" class="form-control" id="txtKimlikNo" placeholder="Kimlik No:">
                        </div>
                        <div class="form-group">
                            <label>Telefon</label>
                            <input text="text" class="form-control" id="txtTelefonNo" placeholder="Telefon No:">
                        </div>
                        <div class="form-group">
                            <label>Kayıt Tarihi</label>
                            <input type="datetime-local" class="form-control" id="txtKayitTarihi" placeholder="Kayıt Tarihi:">
                        </div>
                        <div class="form-group">
                            <label>Dersi</label>


                            <select multiple id="DersSecimi" class="form-control">
                                @foreach (var item in Model.LessonList)
                                {
                                    <option value="@item.Id" />
                                    @item.LessonName
                                }

                            </select>
                            <div class="form-group">
                                <label>Unvanı</label>


                                <select id="txtRol" class="form-control">
                                    @foreach (var item in Model.TeacherRoleList.GroupBy(x => x.Role))
                                    {





                                        <option value="@item.Key.Id" />
                                        @item.Key.RoleName}

                                </select>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="chkIsAktif">
                                <label class="form-check-label">Aktif</label>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDuzenle" class="btn btn-primary">Kaydet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>



@section customscript{
    <script src="~/AdminAssest/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminAssest/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/AdminAssest/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminAssest/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminAssest/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminAssest/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminAssest/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminAssest/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminAssest/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminAssest/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $('#tblAdministrator').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script>
    <script>
        $(document).ready(function () {
            $("#btnKaydet").click(function () {
                var formModel = {
                    FullName: $("#txtFullName").val(),
                    Email: $("#txtEmail").val(),
                    Password: $("#txtPassword").val(),
                    DepartmentId: $("#txtDepartment").val(),
                    City: $("#txtCity").val(),
                    Adress: $("#txtAdress").val(),
                    BirthDate: $("#txtBirthDate").val(),
                    IdNumber: $("#txtIdNumber").val(),
                    PhoneNumber: $("#txtPhone").val(),
                    DateOfRegistiration: $("#txtDateRegistiration").val(),
                    RoleId: $("#txtRole").val(),
                    IsActive: $("#chkIsActive").is(":checked"),
                    LessonIds: $("#slcLesson").val()
                }
                $.ajax({
                    url: "/Admin/TeacherList/Add",
                    method: "post",
                    datatype: "json",
                    data: { vm: formModel },
                    success: function (response) {
                        if (response.result) {
                            alert(response.message)
                            window.location.reload()
                        }
                        else {
                            alert(response.message)
                        }
                    }
                })
            })

        });
    </script>
    <script>
        $(document).on("click", ".btnDelete", function () {
            var teacherId = $(this).attr("teacherId")
            $.ajax({
                url: "/Admin/TeacherList/DeleteTch",
                method: "post",
                datatype: "json",
                data: { tchId: teacherId },
                success: function (response) {
                    if (response.result) {
                        alert(response.message)
                        window.location.reload()
                    }
                    else {
                        alert(response.message)
                    }
                }
            })
        });
    </script>
    <script>
        var teacherId = 0;
        $(document).on("click", ".btnUpdate", function () {
            teacherId = $(this).attr("teacherId")
        })
        $(document).ready(function () {
            $("#btnDuzenle").click(function () {
                var formModel = {
                    FullName: $("#txtAdSoyad").val(),
                    Email: $("#txtEposta").val(),
                    Password: $("#txtSifre").val(),
                    DepartmentId: $("#txtBolum").val(),
                    City: $("#txtSehir").val(),
                    Adress: $("#txtAdres").val(),
                    BirthDate: $("#txtDogumTarihi").val(),
                    IdNumber: $("#txtKimlikNo").val(),
                    PhoneNumber: $("#txtTelefonNo").val(),
                    DateOfRegistiration: $("#txtKayitTarihi").val(),
                    RoleId: $("#txtRol").val(),
                    IsActive: $("#chkIsAktif").is(":checked"),
                    LessonIds: $("#DersSecimi").val(),
                    Id: teacherId
                }
                $.ajax({
                    url: "/Admin/TeacherList/UpdateTch",
                    method: "post",
                    datatype: "json",
                    data: { vm: formModel },
                    success: function (response) {
                        if (response.result) {
                            alert(response.message)
                            window.location.reload()
                        }
                        else {
                            alert(response.message)
                        }
                    }
                })
            })

        });
    </script>
}



